.burguer {
  height: 40px;
}
.burguer-button {
    background-image: url(../assets/h.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(34, 5, 5, 0.774);
    display: none;
    line-height: 40px;
    text-align: center;
    position: sticky;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
}
.header {
  
    margin: 0 auto;
    display: flex;
    height: 220px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: var(--fonts-len-1);
  }
  .header__nav {
    width: auto;
    padding-right: 593px;
    padding-left: 90px;
  }
  .header__nav-ul{
    display: flex;
    margin: 0;
    list-style: none;
  }
  .header__nav-ul li a{
    text-decoration: none;
    padding-left: 60px;
    list-style: none;
    color: var(--color-2);
  }